.cont-signin{
  background: rgba(239, 239, 239, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
mat-card{
  width: 75%;
  text-align: center;
  max-height: 600px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: snow;
  margin: 40px;
  border-radius: 10px;
}

.full-wi{
  width: 80%;
}

.forgot-passw {
  padding-left: 0px;
}
.email-inp{
  padding-top: 10px;

  }
.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;

}
.red-button{
  background: #d31e1e;
  padding: 15px;
}

.label {
 color: #625e5e;
}


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contSIn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  flex: 1;
}
.demiCircle{
  flex: 1;
  height: 350px;
  background: #d31e1e;
  border-radius: 30% 0 0 30% / 80%;
}
.mat-form-field .mat-label,
.mat-form-field .mat-input-element {
  color: black !important;
}
.custom-input .mat-form-field-label {
  color: black !important;
}
