.espace{
  flex:  1 ;
}
.logo{
  width: 100px;
  height: auto;
  margin: 20px;
  box-sizing: content-box;
}
.custom-toolbar{
  height: 150px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
