.espace{
  flex:  1 ;
}
.logo{
  width: 100px;
  height: auto;
  margin: 20px;
  box-sizing: content-box;
}
.custom-toolbar{
  position: fixed;
  height: 130px;
  padding: 0 20px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 1000;
}
button{
  font-size: 18px;
}
