<mat-toolbar class="mat-elevation-z8 custom-toolbar" >


  <img src="assets/images/logoPrincipalBlanc.jpg" alt="homeImage" class="logo">
  <span class="espace"></span>
  <h3>Pour les restaurants</h3>

  <div class="nav">
    <button  class="custom-button" mat-button>Se connecter</button>
    <button  class="custom-button" mat-button>S'inscrire</button>
    <button  class="custom-button"mat-button>FAQ</button>
    <button  class="custom-button"mat-button>Contactez-nous</button>


  </div>

</mat-toolbar>
