<app-courousel-menu-restaurant [images]="images"
                               [autoSlide] = false
                               [indicators] = true
                               [controls]= false>
</app-courousel-menu-restaurant>

<section class="dishes" id="dishes">

  <h3 class="sub-heading"> vos plats </h3>
  <h1 class="heading"> plats populaires </h1>

  <div class="box-container">

    <div class="box" *ngFor="let menu of menus">
      <p class="title-menu">{{ menu.menuName }}</p>
      <a class="fas fa-heart"><mat-icon>favorite</mat-icon></a>
      <a class="fas fa-eye"><mat-icon>visibility</mat-icon></a>
      <img [src]="menu.imageUrl" alt="" [title]="menu.menuName">
      <h3>{{ menu.description }}</h3>
      <div class="stars">
        <app-star-rating [rating] = "menu.rating"></app-star-rating>
      </div>

      <div class="bottom-info">
        <span>{{ menu.price | currency }}</span>
        <button class="btn" [routerLink]="['/signin']">ajouter au panier</button>
      </div>
    </div>
  </div>
</section>


<section class="about" id="about">

  <h3 class="sub-heading"> about us </h3>
  <h1 class="heading"> POURQUOI NOUS CHOISIR ? </h1>

  <div class="row">

    <div class="image">
      <img src="assets/menu-image/about-img.png" alt="">
    </div>

    <div class="content">
      <h3> meilleur plat de la province </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sequi corrupti corporis quaerat voluptatem ipsam neque labore modi autem, saepe numquam quod reprehenderit rem? Tempora aut soluta odio corporis nihil!</p>
      <p>Lorem ipsum dolor sit amet, cons    ectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque deleniti iste alias, eum natus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque deleniti iste alias, eum natus.</p>
      <div class="icons-container">
        <div class="icons">
          <mat-icon>local_shipping</mat-icon>
          <span>livraison gratuite</span>
        </div>
        <div class="icons">
          <mat-icon>payment</mat-icon>
          <span>paiements faciles</span>
        </div>
        <div class="icons">
          <mat-icon>headset_mic</mat-icon>
          <span>service 24/7</span>
        </div>
      </div>
      <a class="btn">learn more</a>
    </div>

  </div>

</section>

<section class="menu" id="menu">

  <h3 class="sub-heading"> nos menus </h3>
  <h1 class="heading"> SPECIALITÉ </h1>

  <div class="box-container">

    <div class="box" *ngFor="let sousMenu of souMenus">
      <div class="image">
        <img [src]="sousMenu.imageUrl" alt="">
        <mat-icon class="fas fa-heart">favorite</mat-icon>
      </div>
      <div class="content">

          <app-star-rating [rating]="sousMenu.rating"></app-star-rating>

        <h3>{{ sousMenu.menuName }} </h3>
        <p>{{ sousMenu.description }}</p>
        <div class="last-item">
          <button class="imper" [routerLink]="['/signin']">ajouter au panier</button>
          <p class="price">{{ sousMenu.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>

</section>
