
.photo-container {
  position: relative;
}


.mat-grid-tile {
  padding: 0
}
.overlay-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-items{
  display: grid;
  justify-items: center;
}

.slogan {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;

}

.btn-overlay {
  margin-top: 30px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  width: 300px;
  height: 70px;

}


.mat-accent {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.mat-warn {
  background-color: rgba(0, 0, 0, 0.98);
  color: rgb(255, 255, 255);
}
p{
  font-size: 15px;


}
.custom-yellow{
  background-color: #f7b34f;
  color: #ffffff;
}

