
.photo-container {
  position: relative;
}


.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-items {
  display: grid;
  justify-items: center;
}

.slogan {
  font-size: 50px;
  font-family: ComicSansMS, serif;

}

.btn-overlay {
  margin-top: 30px;
  font-size: 30px;
  font-family: ComicSansMS, serif;
  width: 250px;
  height: 70px;

}

.content-items p {
  font-family: ComicSansMS, serif;
  font-size: 20px;

}





p {
  font-size: 15px;


}

.custom-yellow {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-color: #f7b34f;

}


.mylist1 .mat-grid-tile {
  background: url('../../assets/images/fond3.jpg') center center/cover no-repeat;

}

p, h1 {
  color: #ffffff;
  font-family: ComicSansMS, serif;


}

.text {
  padding-top: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-family: ComicSansMS, serif;
}

.highlight {
  color: #f7b34f;
  font-weight: bold;
  font-style: italic;
  font-family: ComicSansMS, serif;
}

.mat-grid-list {
/*padding-top: 30px;*/
}


.etape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.stepBox {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.cont img, .cont h3, .cont p {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
  font-family: ComicSansMS, serif;
  padding: 20px;


}

.cont h3, .cont p {
  padding: 0 20px;

}

.cont h3 {
  color: #f7b34f;
  font-size: 20px;
}

.container .mat-grid-list {
  margin-left: 80px;
  margin-right: 80px;

}

footer {
  background: url('../../assets/images/background.png') ;
  color: white;
}

.cont p {
  color: #ffffff;
}

.grid-description {
  text-align: center;
}


.enjoy {
  background: url('../../assets/images/background.png') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divEnjoy {
  border: 2px solid white;
  width: 40%;
  padding: 4rem;
}

.divEnjoy h1{
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 1rem 0;
}

.divEnjoy p{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
}
.container{
  background: #161616;

}

.mat-accent {
  font-family: ComicSansMS, serif;
  background: white;
  color: #f7b34f;
}
