
.photo-container {
  position: relative;
}



.overlay-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-items{
  display: grid;
  justify-items: center;
}

.slogan {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;

}

.btn-overlay {
  margin-top: 30px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  width: 300px;
  height: 70px;

}


.mat-accent {
  background-color: #f7b34f;
  color: #ffffff;
}

.mat-warn {
  background-color: #f7b34f;
  color: #ffffff;
}
p{
  font-size: 15px;



}
.custom-yellow{
  background-color: #f7b34f;
  color: #ffffff;
}



.mat-grid-tile{
  background: rgb(234, 170, 170);

}
p , h1 {
  color: #ffffff;
}
.text{
  padding-top: 15px;
  text-align: center;
  color: black;
}
.highlight{
  color: #f7b34f;
  font-weight: bold;
  font-style: italic;
}

.mat-grid-list{
  padding-top: 30px;
}
.etape{
  text-align: center;
  background-color: black;
}
